<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0"
  xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
  <display-name> Servlet Web Applications </display-name>
  <description>Java Servlet Programs built with Maven and deployed in Tomcat</description>

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.example.servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.example.servlets.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.example.servlets.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>

</web-app>